* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo .highlight {
    color: #6cf0a1; /* Light green color */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #6cf0a1; /* Light green on hover */
}

.contact-btn {
    background-color: #6cf0a1; /* Light green button */
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #59c48a;
}



.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.content {
    flex: 1;
}

.content h1 {
    font-size: 2rem;
    color: #333;
}

.content h2 {
    font-size: 2.5rem;
    color: #7ded81; /* Light green color */
}

.content p {
    font-size: 1rem;
    margin: 10px 0;
    color: #666;
}

.resume-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.resume-btn:hover {
    background-color: #555;
}

.image-section {
    flex: 1;
    text-align: right;
}

.image-section img {
    max-width: 300px;
    border-radius: 50%;
}
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.image-container img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
    flex: 2;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin-bottom: 10px;
}

ul li {
    font-size: 16px;
    margin-bottom: 10px;
}
